* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  font-family: $font-body;
  font-size: 16px;
  font-weight:400;
  color: $black;
}

a{
  color: $green;
}

.wrap{

  max-width: 960px;
  padding: 0 20px;
  margin: 0 auto;

  &:after{
    content: "";
    display: table;
    clear: both;
  }

}

h1, h2, h3, h4, h5, h6{
  font-family: $font-heading;
}
h1{

}
h2{
  text-align: center;
  font-size: 2.25em;
  padding: 1.5em 0;
  margin: 0;
}
h3{

  i{
      position: relative;
      top: 0;
      margin-right: 12px;
      color: #22b573;
      font-size: 1.25em;
    }

}

.align-left{

}
.align-right{

}

@media only screen and (min-width: 600px){

  .align-left{
    float: left;
  }
  .align-right{
    float: right;
  }

}