* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  font-family: $font-body;
  font-size: 16px;
  font-weight:400;
  color: $black;
}

.wrap{
  max-width: 960px;
  padding: 0 20px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
  font-family: $font-heading;
}
h1{

}
h2{
  text-align: center;
  font-size: 2.25em;
  padding: 1.5em 0;
  margin: 0;
}
h3{

}