#content{

}

.info{

  .col-6{
    height: 220px;
  }

  h3{

    border-bottom: solid 1px #eee;
    padding: 0.35em;

    i{
      position: relative;
      top: 6px;
      margin-right: 6px;
      color: $green;
    }

  }

}