#content{
  padding-bottom: 40px;
}

.info{

  .col-6{
    
  }

  h3{

    border-bottom: solid 1px #eee;
    padding: 0.35em;

  }

}

.download-wrapper{

  border: solid 1px #ccc;
  border-radius: 3px;
  margin: 20px 0;

  h3{
    margin: 0;
    padding: 20px;
  }

  a{

    display: block;
    background: $green;
    color: $white;
    text-decoration: none;
    padding: 20px;
    font-size: 1.2em;
    text-align: center;

    i{
      margin-left: 6px;
    }

    &:hover{
      background: darken($green, 8%);
    }

  }

}

@media only screen and (min-width: 600px){

  .info .col-6{ height: 220px; }

}